<% flash.each do |key, value| %>
  <% key = "info" if key == "notice" %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

<html>
<body class="top">
  <section class="main-header">
    <!-- <p class="flash"><%= notice %><%= alert %></p> -->
  </section>
  <div class="center-block title">
    <h3>世界の社食から</h3>
    <br>
    <p>さまざまな会社の社員食堂を紹介するサイトです。</p>
  </div>
</body>
</html>
